.container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 16px;
}

.title {
  color: #394cf9;
  font-size: 30px;
  font-family: SpringTime;
}

.remove {
  cursor: pointer;
}

.list {
  list-style-type: none;
  -webkit-padding-start: 0;

  max-height: 60vh;
  overflow: auto;

  li {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
  }

  button {
    margin-left: 8px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;

  input {
    padding: 4px 8px;
  }

  input:nth-child(2) {
    margin-top: 8px;
  }

  .submitButton {
    margin-top: 8px !important;
  }
}